header {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow: 0 0 9.5px 0 rgba(0, 0, 0, 0.3);
}

#CenterDiv {
    width: 940px;
    padding: 28px 0 0 0;
    max-width: 1500px;
    margin: 0 auto;
}

#SearchDiv {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

#SearchInput {
    height: 28.5px;
    width: 100%;
    background-color: #F9F8F8;
    border-radius: 6.5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 0.5px solid #D9D9D9;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.18);
    font-size: 11.5px;
    font-weight: 600;
    padding: 10px 15px;
    margin: 0;
}

#SearchInput::placeholder {
    color: #8F8E8E;
    opacity: 1;
}

.SearchWrapper {
    position: relative;
    width: 100%;
}

.SearchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 12.5px;
    width: 12.5px;
}

.SearchIconButton {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
}

#LogoText {
    height: 27.5px;
    padding: 3px 0;
    filter: drop-shadow(-1px 0px 2px rgba(0, 0, 0, 0.3));
}

.NavButton {
    height: 29px;
    width: 29px;
    padding: 0;
    border-radius: 50%;

    background-color: #FFFFFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.18);
    border: 0.5px solid #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.NavIcon {
    height: 17px;
}

#FilterDiv {
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.FilterButton {
    height: 24px;
    width: 90px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2C3C94;
}

.ActiveFilter {
    border-bottom: 2px solid #FFD41C;
}